# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml

# Local config
local.properties

# Native / build artifacts
.externalNativeBuild/
.cxx/
*.so

# OpenCV (manual SDK)
opencv/

# Logs
*.log
.kotlin/

# OS
.DS_Store

# Misc
captures/build/
opencv/
app/release/
build/
opencv/
app/release/
*.zip
*.apk

# Decompilation temporary files
jadx_tool/
old_code_decompiled/
